<title>Java Tutor</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="assets/css/main.css" />
<link rel="stylesheet" media = "screen" href="assets/css/editor.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="assets/ace-builds-master/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script type ="text/javascript" src="assets/js/getfilecontents.js"></script>
<script type ="text/javascript" src ="assets/js/seteditor.js"></script>


<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
