<title>Java Tutor</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="assets/css/main.css" />
<link rel="stylesheet" media = "screen" href="assets/css/editor.css"/>
<script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
<script src="assets/ace-builds-master/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/dropbox.js/0.10.2/dropbox.min.js"></script>
<script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="ei0fu89j33g6gzs"></script>
<script type ="text/javascript" src="assets/js/getfilecontents.js"></script>
<script type ="text/javascript" src ="assets/js/seteditor.js"></script>
<script type="text/javascript">
  $(function(){
      $('.answer').keypress(function(e){
        if(e.which == 13) {
          e.preventDefault();
          console.log('hit enter in answer field');
					var data = $(this).val();
          var id = this.getAttribute('reference');
          console.log(id);
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "http://javatutor.azurewebsites.net/endpoint", true);
          xhr.setRequestHeader("Content-type", "application/json;charset=UTF-8");
        	xhr.onreadystatechange = function() {
            console.log('onreadystatechange');
        		if (xhr.readyState == 4 && xhr.status == 200) {
        			// Parse the response and build the table
        			//console.log(JSON.parse(xhr.responseText));
              document.getElementById(id).innerHTML = xhr.responseText;
        		}
        	};
          console.log("made it here");
        	xhr.send(JSON.stringify({question:id, user_answer:data}));
        }
      });
  });

  $(function(){
      $('.upload').on(click, fucntion(e){
        e.preventDefault();
        console.log('hit enter in answer field');
				var data = $(this).val();
        var id = this.getAttribute('reference');
        console.log(id);
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/2/file/upload", true);
        xhr.setRequestHeader("Host", "https://content.dropboxapi.com");
        xhr.setRequestHeader("User-Agent", "api-explorer-client");
        xhr.setRequestHeader("Authorization", "Bearer UvXmK2iPdfAAAAAAAAAAD7vySS8KswkwVi88TZ8dwqjmiC5ufVDNFU6COnyIHvXR");
        xhr.setRequestHeader("Content-type", "application/octet-stream");
        xhr.setRequestHeader("Dropbox-API-Arg", "\"/JavaTutorUploads/blakej.zip\",\"mode\":{\".tag\":\"add\"}");
        console.log(xhr.Request);
      	xhr.onreadystatechange = function() {
          console.log('onreadystatechange');
      		if (xhr.readyState == 4 && xhr.status == 200) {
      			// Parse the response and build the table
      			console.log(JSON.parse(xhr.responseText));
            //document.getElementById(id).innerHTML = xhr.responseText;
      		}
      	};
        console.log("made it here");
      	xhr.send(JSON.stringify({question:id, user_answer:data}));
      });
  });


  // HTTP Request
  // POST /2/files/upload
  // Host: https://content.dropboxapi.com
  // User-Agent: api-explorer-client
  // Authorization: Bearer UvXmK2iPdfAAAAAAAAAAD7vySS8KswkwVi88TZ8dwqjmiC5ufVDNFU6COnyIHvXR
  // Content-Type: application/octet-stream
  // Dropbox-API-Arg: {"path":"/JavaTutorUploads/blakej.zip","mode":{".tag":"add"}}
  // Content-Length: 308

// Response
// {
//   "name": "blakej.zip",
//   "path_lower": "/javatutoruploads/blakej.zip",
//   "path_display": "/JavaTutorUploads/blakej.zip",
//   "id": "id:yx-gDUemkrAAAAAAAAAAAQ",
//   "client_modified": "2016-05-04T20:52:09Z",
//   "server_modified": "2016-05-04T20:52:09Z",
//   "rev": "1448103cb7",
//   "size": 308
// }
  </script>


<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
