<title>Java Tutor</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="assets/css/main.css" />
<link rel="stylesheet" media = "screen" href="assets/css/editor.css"/>
<script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
<script src="assets/ace-builds-master/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script type ="text/javascript" src="assets/js/getfilecontents.js"></script>
<script type ="text/javascript" src ="assets/js/seteditor.js"></script>
<script type="text/javascript">
  $(function(){
      $('.answer').keypress(function(e){
        if(e.which == 13) {
          e.preventDefault();
          console.log('hit enter in answer field');
					var data = $(this).val();
          var id = this.getAttribute('reference');
          console.log(id);
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "http://javatutor.azurewebsites.net/endpoint", true);
          xhr.setRequestHeader("Content-type", "application/json;charset=UTF-8");
        	xhr.onreadystatechange = function() {
            console.log('onreadystatechange');
        		if (xhr.readyState == 4 && xhr.status == 200) {
        			// Parse the response and build the table
        			//console.log(JSON.parse(xhr.responseText));
              document.getElementById(id).innerHTML = xhr.responseText;
        		}
        	};
          console.log("made it here");
        	xhr.send(JSON.stringify({question:id, user_answer:data}));
        }
      });
  });

  $(function(){
      $('.sendfile').click(function(e){
        e.preventDefault();
        console.log('here');
        var formid = this.getAttribute('formid');
        var inputid = this.getAttribute('inputid');
        //console.log(id);
        uploadButton = this;
        uploadButton.innerHTML = 'Uploading...';
        console.log('clicked button');
				var fileSelect = document.getElementById(inputid);
        console.log(fileSelect);
        var form = document.getElementById(formid);
        var files = fileSelect.files;
        var formData = new FormData();
        console.log("Number of files: " + files.length);
        // Loop through each of the selected files.
        for (var i = 0; i < files.length; i++) {
          console.log(i);
          var file = files[i];
          // Check the file type.
          if (!file.type.match('application/zip')) {
            console.log("Didn't match zip type!");
            continue;
          }
          console.log("Adding File to form data.");
          // Add the file to the request.
          formData.append(formid, file, file.name);
        }
        //console.log(id);
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/upload", false);
        //console.log(xhr.Request);
      	xhr.onload = function() {
          console.log('onload');
          console.log(xhr.readyState);
          console.log(xhr.status);
          uploadButton.innerHTML = 'Upload';
          document.getElementById(formid).reset();
      		if (xhr.readyState == 4 && xhr.status == 200) {
      			console.log(xhr.responseText);
            //document.getElementById(id).innerHTML = xhr.responseText;
          } else {
            alert('An error occurred!');
          }
      	};
        console.log("made it here");
      	xhr.send(formData);
      });
  });
  </script>


<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
