<ul>
  <li><a href="/">Introduction</a></li>
  <li><a href="/page2">Creating Objects and Type Declaration</a></li>
  <li><a href="/page3">Lists and For Loops</a></li>
  <li><a href="/page4">Classes, Objects, Class Methods & Variables</a></li>
  <li><a href="/page5">Inheritence, Interfaces and Subclasses</a></li>
</ul>
