#java_editor_01 {
  float:left;
  position: relative;
  width: 50%;
  height: 200px;
}
#python_editor_01 {
  float:left;
  position: relative;
  width: 50%;
  height: 200px;
}
#python_editor_02 {
  float:left;
  position: relative;
  width: 100%;
  height: 275px;
}
#java_editor_02 {
  float:left;
  position: relative;
  width: 100%;
  height: 230px;
}
#java_editor_03 {
  float:left;
  position: relative;
  width: 100%;
  height: 200px;
}
#java_editor_03_1 {
  float:left;
  position: relative;
  width: 100%;
  height: 330px;
}
#java_editor_04 {
  float:left;
  position: relative;
  width: 50%;
  height: 200px;
}
#python_editor_04 {
  float:left;
  position: relative;
  width: 50%;
  height: 200px;
}
#java_editor_05 {
  float:left;
  position: relative;
  width: 100%;
  height: 335px;
}
#java_editor_06 {
  float:left;
  position: relative;
  width: 100%;
  height: 335px;
}
#java_editor_07 {
  float:left;
  position: relative;
  width: 50%;
  height: 275px;
}
#python_editor_07 {
  float:left;
  position: relative;
  width: 50%;
  height: 275px;
}
#python_editor_02_1 {
  float:left;
  position: relative;
  width: 50%;
  height: 290px;
}
#java_editor_08 {
  float:left;
  position: relative;
  width: 50%;
  height: 290px;
}
#java_editor_09 {
  float:left;
  position: relative;
  width: 100%;
  height: 250px;
}
#java_editor_10 {
  float:left;
  position: relative;
  width: 100%;
  height: 150px;
}
#java_editor_11 {
  float:left;
  position: relative;
  width: 100%;
  height: 480px;
}
#java_editor_12 {
  float:left;
  position: relative;
  width: 100%;
  height: 150px;
}
#java_editor_13 {
  float:left;
  position: relative;
  width: 100%;
  height: 655px;
}
#java_editor_14 {
  float:left;
  position: relative;
  width: 100%;
  height: 250px;
}
#java_editor_15 {
  float:left;
  position: relative;
  width: 100%;
  height: 250px;
}
#java_editor_16 {
  float:left;
  position: relative;
  width: 100%;
  height: 250px;
}
#java_editor_17_1 {
  float:left;
  position: relative;
  width: 100%;
  height: 250px;
}
#java_editor_17_2 {
  float:left;
  position: relative;
  width: 100%;
  height: 250px;
}
